@model WB.DesafioOnline.MarketingWeb.Models.AnuncioDTO

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Anuncio</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Cadastrar" id="frm-cadastrar-anuncio">
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Marca" class="control-label"></label>
                    <select class="form-control select2-custom" id="MarcasDDL" asp-for="Marca"></select>
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Modelo" class="control-label"></label>
                    <select class="form-control select2-custom" id="ModelosDLL" asp-for="Modelo"></select>
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Versao" class="control-label"></label>
                    <select class="form-control select2-custom" id="VersoesDLL" asp-for="Versao"></select>
                    <span asp-validation-for="Versao" class="text-danger"></span>
                </div>

                <div class="form-group col-2">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" min="1886" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Quilometragem" class="control-label"></label>
                    <input asp-for="Quilometragem" class="form-control" min="0" />
                    <span asp-validation-for="Quilometragem" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea asp-for="Observacao" class="form-control"></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
