@model WB.DesafioOnline.MarketingWeb.Models.AnuncioDTO

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Anuncio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select class="form-control select2-custom" id="MarcasDDL" asp-for="Marca"></select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <select class="form-control select2-custom" id="ModelosDLL" asp-for="Modelo"></select>
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Versao" class="control-label"></label>
                <select class="form-control select2-custom" id="VersoesDLL" asp-for="Versao"></select>
                <span asp-validation-for="Versao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" min="1886" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quilometragem" class="control-label"></label>
                <input asp-for="Quilometragem" class="form-control" min="0" />
                <span asp-validation-for="Quilometragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea asp-for="Observacao" class="form-control"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
    $('.select2-custom').select2({});

       $('#MarcasDDL').select2({
           placeholder: "Selecione a Marca",
           ajax:
           {
               url: '/WebMotorsApi/MarcasData',
               dataType: 'json',
               data: function (params) { return  { search: params.term, type: 'public' };  }
           }
       });


       $('#MarcasDDL').on("select2:selecting", function(e) {
           $('#ModelosDLL').select2({
               placeholder: "Selecione o Modelo",
               ajax:
               {
                   url: '/WebMotorsApi/ModelosPorMarcaIdData?marcaId='+e.params.args.data.id,
                   dataType: 'json',
                   data: function (params) { return  { search: params.term, type: 'public' };  }
               }
           });
       });

       $('#ModelosDLL').on("select2:selecting", function(e) {
           $('#VersoesDLL').select2({
               placeholder: "Selecione a Versão",
               ajax:
               {
                   url: '/WebMotorsApi/VersoesPorModeloData?modeloId='+e.params.args.data.id,
                   dataType: 'json',
                   data: function (params) { return  { search: params.term, type: 'public' };  }
               }
           });
       });

</script>

}
