@{
    ViewData["Title"] = "Home Page";
}
<div class="row mb-5">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">Bem vindo ao meu teste </h1>
            <h6 class="d-block">vaga de Backend</h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Web: MVC Core 5</h3>
        <hr />
        <ul>
            <li>
                Jquery
            </li>
            <li>
                Bootstrap
            </li>
            <li>
                Select2
            </li>
            <li>
                Html/Css/Javascript/Jquery
            </li>
            <li>
               Httpfactory
            </li>
             <li>
               Polly
            </li>
        </ul>
    </div>
    <div class="col">
        <h3> WebAPI: .net core 5</h3>
        <hr />
        <ul>
            <li>
                Mediatr
            </li>
            <li>
                CQSR
            </li>
            <li>
                SQL Server
            </li>
            <li>
                Entity Framework
            </li>
            <li>
                CQSR (mesmo banco*)
            </li>
            <li>
                Dapper
            </li>
            <li>
                Command,Repository pattern
            </li>
            <li>
                Unit of Work
            </li>
        </ul>
    </div>
</div>


