@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-info" asp-controller="WebMotorsApi" asp-action="Marcas">Marcas</a>
<a class="btn btn-info" asp-controller="WebMotorsApi" asp-action="Modelos">Modelos</a>
<a class="btn btn-info" asp-controller="WebMotorsApi" asp-action="Versoes">Versões</a>
<a class="btn btn-info" asp-controller="WebMotorsApi" asp-action="Veiculos">Veículos</a>


